youtube-dl
git+https://github.com/Cupcakus/pafy
youtube_transcript_api
textwrap3
pybase64
gensim==3.6.0
nltk==3.7
spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
deep_translator==1.8.1
gTTS==2.2.4
